#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.field {
  display: flex;
  gap: 8px;
  margin: 15px;
  justify-content: flex-start;
}

.loginbtn{
  background-color: darkgrey;
  color:black;
}